[submodule "Development/ble-sensor-station"]
	path = Development/ble-sensor-station
	url = https://github.com/gabriel-ns/ble-sensor-station.git
[submodule "Development/esp32-aws-ble-gateway"]
	path = Development/esp32-aws-ble-gateway
	url = https://github.com/gabriel-ns/esp32-aws-ble-gateway.git
